<!-- Created on 23/09/2022 12:54 -->
<!-- Created By : Gaurav & Grishma -->

    <!-- CSS link -->
    <link rel="stylesheet" href="../assets/css/header_style.css">

    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">

    <!-- ======= Nav Bar start ======= -->
    <div id="nav-div">
        <nav id="nav-id">
            <ul id="nav-ul">
                <% if(locals.user) { %>
                    <li class="nav-list" >
                        <a href="/user/sign-out">Sign Out</a>
                    </li>
                    <li class="nav-list" >
                        <a href="/user/profile"><%= user.name %></a>
                    </li>
                <% } else {%>
                    <li class="nav-list" >
                        <a href="/user/sign-in">Sign In</a>
                    </li>
                    <li class="nav-list" >
                        <a href="/user/sign-up">Sign Up</a>
                    </li>
                <%} %>
                
                <li class="nav-list">
                    <a href="">About Us</a>
                </li>
                <li class="nav-list">
                    <a href="">Contact us</a>
                </li>
            </ul>
        </nav>
    </div><!--Nav Bar End-->
