<<<<<<< HEAD
<div id="carouselExampleControls" class="carousel slide" data-bs-keyboard="true">
=======
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
>>>>>>> 5058f0e7ba2e2a40031693699982b397883ee341
    <div class="carousel-inner">
      <div class="carousel-item active slide-container">
        <h1>First Slide</h1>
      </div>
      <div class="carousel-item slide-container">
        <h1>Second Slide</h1>
      </div>
      <div class="carousel-item slide-container">
        <h1>Third Slide</h1>
      </div>
      <div class="carousel-item slide-container">
        <h1>Forth Slide</h1>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>