<div class="div-container">
    <h1>{1} First Div</h1>
</div>
<div class="div-container">
    <h1>{2} Second Div</h1>
</div>
<div class="div-container">
    <h1>{3} Third Div</h1>
</div>
<div class="div-container">
    <h1>{4} Fourth Div</h1>
</div>