<div class="div-container">
    <h1>{1} Home</h1>
</div>
<div class="div-container">
    <h1>{2} About Us</h1>
</div>
<div class="div-container">
    <h1>{3} NEWS</h1>
</div>
<div class="div-container">
    <h1>{4} Extra</h1>
</div>