<h1>sign in page</h1>


<form action="/user/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="sign up">
</form>